CompileFlags:
    Add: [
        "-I/opt/homebrew/include",
        "-isystem/Users/struc/dev/jects/edi2tor/third_party",
        "-L/opt/homebrew/lib",
        "-lglfw",
        "-framework", "OpenGL",
        "-DGL_SILENCE_DEPRECATION",
        "-Wall",
        "-Wextra",
        "-Wno-unused-function",
        "-xc",
        "-std=c99"
    ]
